@charset "ISO-8859-1";

body{
	
	background-color:skyblue;
	font-family:comic sans ms;
}
h1{
		
	
}
#d1{
	margin:100px;
	height:80px;
	background-color:white;
	text-align:center;
	
}#d2{
	margin-left:820px;
margin-top:20px;
	height:60px;
	width:250px;
	background-color:white;
	border: 2px black solid;
	text-align:center;
	padding-top:20px;
}
#d3{
	margin-left:430px;
	margin-top:-83px;
	height:60px;
	width:250px;
	background-color:white;
	border: 2px black solid;
	text-align:center;
	padding-top:20px;
}